.header {
    width: 100%;
    padding: 1rem;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-bottom: 1rem;
}

.header__logo {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header__title {
    font-size: 1.8rem;
    font-weight: 800;
    color: #5936ac;
}

.header__icon {
    margin-left: .5rem;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url('/images/php_logo.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000055;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal--hidden {
    display: none;
}

.modal__container {
    width: 40%;
    background-color: white;
    overflow-y: scroll;
    position: relative;
    scrollbar-width: none;
    border-radius: 5px;
}

.modal__close {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #cc1d1d;
    border: none;
    margin-right: .5rem;
    margin-top: .5rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50px;

    span {
        color: white;
        margin: 0;
        padding: 0;
    }
}

.modal__title {
    margin-bottom: 2rem;
}

.modal__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.modal__item {
    width: 80%;
}

.modal__input {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}

.modal__submit {
    font-size: 1.2rem;
    color: #5936ac;
    background-color: transparent;
    border: 2px solid #5936ac;
    width: 40%;
    height: 2rem;
    border-radius: 50px;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

.modal__submit:hover {
    font-weight: 700;
    background-color: #5936ac;
    color: white;
    transform: scale(1.02);
}

.main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
}

.tables {
    width: 35%;
}

.tables__title {
    color: #5936ac;
    text-align: center;
    width: 100%;
    margin-bottom: .6rem;
}

.tables__list {
    width: 100%;
    height: 100%;
    padding: .7rem;
}

.tables__item {
    width: 100%;
    height: 2rem;
    margin-bottom: .4rem;
}

.tables__button {
    width: 100%;
    height: 100%;
    color: #5936ac;
    border: 1px solid #5936ac;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    span {
        margin-right: .2rem;
    }
}

.tables__button:hover {
    background-color: #d7c6ff;
}

.tables__button--active {
    background-color: #5936ac;
    color: white;
    font-weight: 800;
}

.view {
    width: 75%;
    height: 80vh;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    overflow-x: scroll;
    overflow-y: scroll;
    padding: 1rem;
}

.head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.head__right,
.head__left {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.head__right--disabled {
    opacity: 50%;

    button {
        cursor: not-allowed;
    }
}

.head__button {
    background: #5936ac;
    border-radius: 999px;
    box-shadow: #5936ac 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    span {
        margin-right: .2rem;
    }
}

.head__button:hover {
    transform: scale(1.01);
    transition: transform 100ms ease-in-out;
}

.table-title {
    margin-top: 3rem;
    margin-bottom: .7rem;
}

.table {
    border-collapse: collapse;
}

.table thead {
    background-color: #c5c5ff;
}

.table tr,
th,
td {
    border: 1px solid #838383;
    padding: .3rem .5rem;

    text-wrap: nowrap;
}

.table tbody tr {
    cursor: pointer;
}

.table tbody tr:hover {
    background-color: #c5c5ff8f;
}

.table tbody .selected {
    background-color: #7979d1;
}

.table tbody .selected:hover {
    background-color: #7979d1;
}